@model IEnumerable<YogNatomy.Models.Pose>

@{
    ViewBag.Title = "Index";
}

<h1>Browse Poses</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    @Html.Partial("_PoseSummary", item)
}


