
<link rel="stylesheet" href="~/Content/style.css">
<div class="wrapper">

     <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="/Home/Index"><h3 style="text-align: center">YogNatomy</h3></a>
        </div>

        <ul class="list-unstyled components">
            <p>LINKS</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/Home/About">About</a>
                    </li>
                    <li>
                        <a href="/Home/Contact">Contact</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Home/About">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/Poses/Index">Poses</a>
                    </li>
                    <li>
                        <a href="/Trainees/Index">Trainees</a>
                    </li>
                    <li>
                        <a href="/Trainers/Index">Trainers</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="https://github.com/cadedillon">Portfolio</a>
            </li>
            <li>
                <a href="/Home/Contact">Contact</a>
            </li>
            <li class="nav-item" style="position: absolute; bottom: 0; width: 100%; height: 97px;"><a href="/UserAccounts/Create" id="registerLink" class="nav-link">Register</a></li>
            <li class="nav-item" style="position: absolute; bottom: 0; width: 100%; height: 50px;"><a href="/Account/Login" id="loginLink" class="nav-link">Log in</a></li>
            
        </ul>

    </nav>
<div id="content">
    
</div>
</div>
