@{
    ViewBag.Title = "What is YogNatomy?";
}
<h2>@ViewBag.Title</h2>


<div class="header">
    <h3>YogNatomy is a web application that seeks to 
    make Yoga practice fun, intuitive, and effective 
    for practitioners of all skill levels!</h3>
</div>


<div class="description" style="font-size: large">
    <p>YogNatomy is the culmination of my experience in the Microsoft Software and Systems Academy (MSSA).
    I've worked long and hard on this web application and I'm proud to present it.</p>
</div>

<h3>Who am I?</h3>
<div class="aboutme" style="font-size: large">
    <img height="500" width="500" align="right"  src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/40488468_467105347109481_8771060909129859072_n.jpg?_nc_cat=100&_nc_ht=scontent-lax3-1.xx&oh=222dc8d15b0c4bb7f8583af9362ca180&oe=5C4C86A0" alt="Cade Dillon" hspace="10" style="border:10px solid #b63f51" />
    <p>I'm a 5 year Veteran of the United States Marine Corps in a constant search for new and exciting oppurtunities</p>
    <p>When I by chance found out about the Microsoft Software and Systems Academy (MSSA), I leapt at the chance
    to learn Software Design and Engineering from a team of professionals dedicated to making a positive impact.
    It is during this 19 week intensive program that I learned the skills of C#, ASP.NET MVC 5, SQL, and Azure.
    All of these skills went into making this application possible.</p>
    <p>My immediate professional goals are to start a career in Software Engineering on .NET platform, because
    I truly enjoy and have an affinity for the Microsoft Framework. My longterm goals are to position myself
    as an early adopter of Quantum computing technologies when they become viable, by learning Microsoft's Q# programming language,
    and by continuing to expand my knowledge in the realms of Computer Science and Mathematics.</p>
    <p>This is far from the only application I have created. You can check out the rest of my portfolio of applications by
    visiting: <a href="https://github.com/cadedillon">Github.com/cadedillon</a>, and you can find my LinkedIn profile at: <a href="https://www.linkedin.com/in/cadedillon/">LinkedIn.com/in/cadedillon</a>
    I am currently seeking my first professional Software Engineer position, and I would love to speak more about any career oppurtunities
    you may have.</p>
    
</div>
