@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="align-content:center; text-align:center">
    <h1 class="display-3">Welcome to YogNatomy!</h1>
    <p class="lead">YogNatomy seeks to make Yoga practice fun and intuitive for practicioners of all skill levels.</p>
    <hr class="my-4">
    <p>Select a muscle group from the image map below to display Yoga Poses that targets it.</p>
    <img src="https://i.pinimg.com/originals/e8/ba/d3/e8bad3336f96727362d59ae0a02305eb.jpg" alt="muscle anatomy"  height="750" width="750" usemap="#anatomymap" style="align-content:center"/>

    <map name="anatomymap">
        <area shape="rect" coords="130, 210, 250, 350" href="~/Poses/Index/Ab" alt="Abdominals" />
        <area shape="rect" coords="130, 140, 255, 209" href="~/Poses/Index/Pect" alt="Chest" />
        <area shape="rect" coords="120, 351, 255, 500" href="~/Poses/Index/Quad" alt="Quadriceps" />
        <area shape="rect" coords="460, 175, 600, 325" href="~/Poses/Index/Lat" alt="Lats" />
        <area shape="rect" coords="430, 110, 630, 174" href="~/Poses/Index/Delt" alt="Deltoids" />
    </map>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <div>
            <p>@Html.ActionLink("List of poses", "Index", "Poses")</p>
        </div>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>